@using DevExtremeMvcApp1_UI.Data

<h2>Orders</h2>

@(Html.DevExtreme().DataGrid<orderheader>()
    .ShowBorders(true)
    .DataSource(d => d.WebApi()
        .Controller("Orders")
        .LoadAction("Orders")
        .Key("ord_number"))
    .LoadPanel(l => l.Enabled(false))
    .Columns(columns =>
        {
            columns.AddFor(m => m.ord_number);
        columns.AddFor(m => m.ord_bookedby);
        columns.AddFor(m => m.ord_hdrnumber);
        columns.AddFor(m => m.ord_refnum);
        columns.AddFor(m => m.ord_route);
        })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .Summary(s => s
        .TotalItems(totalItems => {
            totalItems.AddFor(m => m.ord_number).SummaryType(SummaryType.Count);
        })
        .GroupItems(groupItems => {
            groupItems.Add().SummaryType(SummaryType.Count);
        })
    )
    .MasterDetail(md => md
        .Enabled(true)
        .Template(new TemplateName("detailContent"))
    )
)

@using (Html.DevExtreme().NamedTemplate("detailContent"))
{
    @(Html.DevExtreme().TabPanel()
        .Items(items =>
        {
            items.Add()
                .Title("Order Details")
                .Template(new TemplateName("tab1Content"))
                .Option("masterGridData", new { id = new JS("data.ivh_hdrnumber") });

            items.Add()
                .Title("Notes");
        })
    )
}

@using (Html.DevExtreme().NamedTemplate("tab1Content"))
{
    @(Html.DevExtreme().DataGrid<invoicedetail>()
        .ShowBorders(true)
        .DataSource(d => d.WebApi()
            .Controller("Orders")
            .LoadAction("OrderDetails")
            .LoadParams(new
                    {
                id = new JS("masterGridData.id")
            })
        )
        .LoadPanel(l => l.Enabled(false))
        .Columns(columns =>
        {
            columns.AddFor(m => m.ivd_number);
            columns.AddFor(m => m.fgt_number);
            columns.AddFor(m => m.fgt_supplier);
            columns.AddFor(m => m.ivd_bolid);
            columns.AddFor(m => m.ivd_ord_number);
        })
        .MasterDetail(md => md
            .Enabled(true)
            .Template(new TemplateName("detailContent"))
    )
    )
}

